{% extends "base.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block content %}
<a href="{% url 'delete' item.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
<div class="container">
  <div class="container col-8">
    {% if item.item_status == 'L' %}
      <h1 style="text-align: center;">Lost Item</h1>
    {% else %}
      <h1 style="text-align: center;">Found Item</h1>
    {% endif %}
    <center><img width="300" height="400" src="{{ item.item_image.url }}" alt=""></center><br>
    <h4 style="text-align: center;">{{ item.item_name }}</h4>
    <h4 style="text-align: center;">{{ item.item_description }}</h4>
    {% if item.item_status == 'L' %}
      <h4 style="text-align: center;">Last Seen: {{ item.item_last_place_seen }}</h4>
      <h4 style="text-align: center;">Lost On: {{ item.item_date }}</h4>
      <h4 style="text-align: center;">Belongs to: {{ item.user.first_name }} {{ item.user.last_name }}</h4>
      <h4 style="text-align: center;">Contact on: {{ item.user.email }}</h4>
    {% else %}
      <h4 style="text-align: center;">Found: {{ item.item_last_place_seen }}</h4>
      <h4 style="text-align: center;">Found On: {{ item.item_date }}</h4>
      <h4 style="text-align: center;">Currently With: {{ item.user.first_name }} {{ item.user.last_name }}</h4>
      <h4 style="text-align: center;">Contact on: {{ item.user.email }}</h4>
    {% endif %}
  </div>
</div>
<div class="col-md-10 card mb-4  mt-3 ">
  <h1>Comments</h1>
      <form method="post">
        {% bootstrap_form form %}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="submit">
      </form>
      <div class="card-body">
        <!-- comments -->
        <h2>{{ comments.count }} comments</h2>
        {% for comment in comments %}
          <div class="comments" style="padding: 10px;">
            <p class="font-weight-bold">
              {{ comment.user }}
              <span class=" text-muted font-weight-normal">
                {{ comment.commented_on }}
              </span>
            </p>
            {{ comment.body | linebreaks }}
          </div>
        {% endfor %}
      </div>
  </div>
{% endblock content%}
